services:
  backend:
    build:
      context: ./backend
      target: dev
    volumes:
      - ./backend:/app
      - ./backend/data:/data
    ports:
      - "8080:8080"
    environment:
      - DB_PATH=${DB_PATH}
      - DB_PORT=${DB_PORT}
    command: air -c .air.toml 

  frontend:
    build:
      context: ./frontend
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
      - VITE_API_BASE_URL=${VITE_API_ENDPOINT}
    command: npm run dev --host 
    depends_on:
      - backend

volumes:
  sqlite-data: {}