@use '../abstracts' as *;

* {
  box-sizing: border-box;
}

body {
  @extend .body-m;
  font-family: 'Instrument Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  background-color: $color-grey-light;
  color: $color-grey-dark;
  overflow: hidden;
}

p {
  margin: 0;
}

.blank-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
}

.box {
  background-color: $white;
  border-radius: 12px;
}

.shadow {
  box-shadow: 0px 0px 32px $color-grey-medium;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
