@use './variables' as *;
@use './functions' as *;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap');

.heading-s {
  font-weight: bold;
  font-size: rem(16);
  line-height: 150%;
  color: $color-dark;
  margin-bottom: rem(8);
  margin-top: 0;
}

.heading-m {
  font-weight: bold;
  font-size: rem(32);
  line-height: 150%;
  color: $color-dark;
  margin-bottom: rem(8);
  margin-top: 0;
}

.body-s {
  font-weight: 400;
  font-size: rem(12);
  line-height: 150%;
  color: $color-grey-dark;
}

.body-m {
  font-weight: 400;
  font-size: rem(16);
  line-height: 150%;
  color: $color-grey-dark;
}

.txt-center {
  text-align: center;
}

a {
  color: $color-main;
  text-decoration: none;
}
