// colors
$color-main: #633cff;
$color-purple: #beadff;
$color-purple-light: #efebff;
$color-dark: #333333;
$color-grey-dark: #737373;
$color-grey-medium: #d9d9d9;
$color-grey-light: #fafafa;
$white: #fff;
$black: #000;
$red: #ff3939;

$navigation-height: 76px;
$navigation-height-desktop: 126px;

$breakpoints: (
  'sm': (
    min-width: 375px
  ),
  'md': (
    min-width: 768px
  ),
  'lg': (
    min-width: 1023px
  ),
  'xl': (
    min-width: 1440px
  )
);

$base-spacing: 0.5rem;

$margins: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8
);
