@use '../abstracts' as *;

.dashboard {
  display: block;
  padding: 16px;

  > div {
    width: 100%;
    height: 100%;
  }

  .preview-container {
    display: none;
  }

  @include respond-to('md') {
    height: calc(100vh - (#{$navigation-height-desktop}));
    display: flex;
    align-items: center;
    gap: rem(24);
    padding: 0px 24px 24px 24px;

    .preview-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .settings-container {
      flex: 3;
    }
  }
}
