@use '../abstracts' as *;

.field {
  display: inline-block;
  margin-bottom: 24px;

  &--full-width {
    display: block;
    width: 100%;
  }

  &.has-error {
    label {
      color: $red;
    }

    .field__input-wrapper {
      border: 1px solid $red;

      .message {
        color: $red;
      }
    }
  }

  label {
    @extend .body-s;
    display: block;
    margin-bottom: 4px;
    color: $color-dark;
  }

  &__input-wrapper {
    border: 1px solid $color-grey-medium;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: rem(12) rem(16);
    border-radius: 8px;

    &:focus-within {
      border: 1px solid $color-main;
      box-shadow: 0px 0px 32px rgba(99, 60, 255, 0.25);
    }

    input {
      @extend .body-m;
      display: block;
      border: none;

      &:focus {
        outline: none;
      }
    }

    svg {
      margin-right: 12px;
    }

    .message {
      @extend .body-s;
      margin: 0;
    }
  }
}
